.header {
  text-align: center;
}

body {
  background-color: whitesmoke;
  /* margin: 0 10px; */
  
}

.pokemons-info {
  width: 90%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.pokemon-card {
  display: flex;
  border: 1px;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: -7px 5px 5px rgba(50, 50, 50, 0.77);
  margin: 5px;
  padding: 0 8%;
  text-align: center;
  flex-grow: 1;
  justify-content: center;
}
